<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Graphs</title>
</head>
<body>
    <div>
        <a href="{{ url_for('html_files', filename='Total_Number_of_Days_Stayed_in_Each_State.html') }}" target="_blank">Total Number of Days Stayed in Each State</a>
        <br>
        <a href="{{ url_for('html_files', filename='Number_of_Visits_by_State_Over_the_Years.html') }}" target="_blank">Number of Visits by State Over the Years</a>
        <br>
        <a href="{{ url_for('html_files', filename='Average_Number_of_Days_Stayed_Over_the_Years.html') }}" target="_blank">Average Number of Days Stayed Over the Years</a>
        <br>
        <!-- Include other graphs -->
        {{ other_graphs|safe }}
    </div>
</body>
</html>
