<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Graphs</title>
</head>
<body>
    <div>
        <a href="{{ url_for('html_files', filename='generate_state_wise_visits_graph.html') }}" target="_blank">State Wise Visits Graph</a>
        <br>
        <a href="{{ url_for('html_files', filename='generate_average_visits_graph.html') }}" target="_blank">Average Visits Graph</a>
        <br>
        <a href="{{ url_for('html_files', filename='generate_visits_graph.html') }}" target="_blank">Visits Graph</a>
        <br>
        <!-- Include other graphs -->
        {{ other_graphs|safe }}
    </div>
</body>
</html>
